/* Primary Header */
h1 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: normal;
    font-size: 40px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0 23px 0;
	color: orange;
}

/* Body Text */
p {
	font-family: 'Droid Serif', serif;
	font-size: 15px;
	line-height: 23px;
	margin: 0 0 23px 0;
	color: pink;
}

/* IMG Style */
img {
	width:167px;
}

/* Links */

a:link,
a:visited {
	border-bottom: double #000 2px;
	text-transform: uppercase;
	text-decoration: none;
}

a:hover,
a:active {
	background: red;
}

/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

/* Color Pallette */

.color-1 {
	background: teal;
}

.color-2 {
	background: cornflowerblue;
}

.color-3 {
	background: green;
}

/* Texture Pallette */

.pattern-1 {
	background-color: #25009e;
	background-image: url(http://www.transparenttextures.com/patterns/diagmonds-light.png);
}

.pattern-2 {
	background: url(../img/bg.png);
}

.pattern-3 {
	background: url("../img/bg2.png");
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}